/* 
Add correct colors.

Make sure selectors match html.

Match flow of CSS with html


*/

/* Base Styling */


body {
  background: lightgray;
}

a {
  color: #7c7c7d;
}

a:hover {
  color: #383939;
}

a:active {
  color: #383939;
}

/* Navigation Styling */

.custom-nav {
  background-color: white;
}

.navbar-brand {
  color: #4aaaa5;
}



/* Main Content Styling */

.my-col {
  background: white;
  color: #212529;
}

.my-col h1 {
  color: #4aaaa5;
  padding: 5px;
  margin: 3px;
}

.my-col hr {
  margin: 10px;
}




/* Footer Styling */

.mini-bar {
  background: #4aaaa5;
}

.footer {
  background: #666666;
}

.footer p {
  color: #6c757d;
  font-size: 14px;
}


/* Contact Page Styles */

.form-group {
  padding-left: 15px;
  margin-right: 20px;
}

.form-control {
  border-radius: 0px;
}

.form-btn {
  background: #4aaaa5;
  color: white;
  border-radius: 0px;
}



/* Portfolio Page Styles */


