/* 
Add correct colors.

Make sure selectors match html.

Match flow of CSS with html


*/

/* Base Styling */

body {
  background: lightgray;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
}




/* Navigation Styling */

.custom-nav {
  background-color: white;
}

.navbar-brand {
  color: #4aaaa5;
}

.navbar-nav a:link {
  color: #7c7c7d;
}

.navbar-nav a:visited {
  color: #7c7c7d;
}

.navbar-nav a:hover {
  color: #383939;
}

.navbar-nav a:active {
  color: black;
}


/* Main Content Styling */

.my-row {
  margin: 40px 0;
}

.my-col {
  background: white;
  color: #212529;
  padding: 5px;

}

.my-col h1 {
  color: #4aaaa5;
  font-weight: bold;
  padding: 5px;
  margin: 4px;
}

.my-col hr {
  margin: 10px;
}

.my-col img {
  padding: 0px 10px;
}

.my-col p {
  padding: 0px 5px;
}




/* Footer Styling */

.footer {
  background: #666666;
}

.footer p {
  color: #6c757d;
  font-size: 15px;
  font-weight: bold;
}



/* 


Contact Page Styles 


*/



.custom-form  {
  padding: 25px;
  
}

.custom-form div input {
  border-radius: 0px;
}

.custom-form div textarea {
  border-radius: 0px;
}

.form-btn {
  background: #4aaaa5;
  color: white;
  border-radius: 0px;
}



/* 


Portfolio Page Styles 


*/



